body {
     display: flex;
     flex-direction: column;
}
footer {
     all: unset;
     background-color: white;
     height: 60px;
     width: 100%;
     border-top: 1px solid #CCCCCC;
}
.container section.places {
     margin-top: 20px;
     box-sizing: border-box;
}
.container section.places h1 {
    margin-left: 10px;
    font-size: 30px;
}

.container section.places article {
     width: 390px;
     float: left;
     margin: 20px;
     padding: 20px;
     border: 1px solid #FF5A5F;
     border-radius: 4px;
}

article h2 {
     font-size: 30px;
     text-align: center;
}


article div.price_by_night {
     color: #FF5A5F;
     font-size: 30px;
     float: right;
     height: 60px;
     min-width: 60px;
     border: 4px solid #FF5A5F;
     border-radius: 50%;
     position: relative;
     bottom: 30px;
     left: 5px;
     box-sizing: border-box;
}
.price_by_night p {
     padding: 10px 0 10px 0;
}

article div.information {
     height: 80px;
     width: 100%;
     border-top: 1px solid #DDDDDD;
     border-bottom: 1px solid #DDDDDD;
     margin-top: 50px;
     position: relative;
}


div.information div.max_guest {
     display: inline-block;
     height: 100%;
     width: 100px;
     background-image: url('/web_static/images/icon_group.png');
     background-repeat: no-repeat;
     background-position: top 10px left 50px;
     position: relative;
}

div.max_guest p {
     position: absolute;
     bottom: 0;
     padding: 0 0 5px 40px;
}

div.information .number_rooms {
     display: inline-block;
     height: 100%;
     width: 100px;
     background-image: url('/web_static/images/icon_bed.png');
     background-repeat: no-repeat;
     background-position: top 10px left 25px;
     position: relative;
     left: 40px;
}

div.number_rooms p {
     position: absolute;
     bottom: 0;
     padding: 0 0 5px 20px; 
}

div.information .number_bathrooms {
     display: inline-block;
     height: 100%;
     width: 100px;
     background-image: url('/web_static/images/icon_bath.png');
     background-repeat: no-repeat;
     background-position: left 10px;
     position: relative; 
     left: 80px;
}

div.number_bathrooms p {
     position: absolute;
     bottom: 0;
     padding: 0 0 5px 0; 
}

article div.user {
     padding: 10px 0 10px 0; 
}